<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{70,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>bird02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>pig01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>pig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,74},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>pig03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{70,106}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playimage.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa4ac17b6c371d20bf03ed22ae669d7$</string>
            <key>textureFileName</key>
            <string>playimage.png</string>
        </dict>
    </dict>
</plist>
